<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Create Account</title>
</head>

<body>
  <%- include('partials/_header') %>
  <p></p>
  <form method="POST" action="/register" style="margin-left: 15px">
    <h3>Create Account</h3>
    <p> 
      
      <label>Email address</label>
      <input type="email" name='email'>
    
    </p>
    <p>
      <label>Password</label>
      <input type="password" name='password' style="margin-left: 30px">

    </p>  
  
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</body>

</html>